<div fxLayout="column" fxLayoutAlign="stretch">
  <div fxFlex="1 1" class="shopping-lists">
  <div class="sub-heading list-header sans-serif-emphasis">LIST ITEMS</div>
  <mat-form-field class="sort-select">
      <mat-label>Sort</mat-label>
      <mat-select (selectionChange)="setSort($event)" [(value)]="selectedSort">
        <mat-option value="checked">Checked</mat-option>
        <mat-option value="ingredient">Ingredient</mat-option>
        <mat-option value="recipe">Recipe</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="sub-heading list-header sans-serif-emphasis">SHOPPING LISTS</div>
    <button class="menu-button"mat-flat-button (click)="createNewList()">
      <i class="material-icons">add_circle</i>
      Add new list
    </button>
    <mat-list fxLayout="column" fxLayoutAlign="stretch">
      <mat-list-item class="list-item" *ngFor="let list of lists$ | async"
        [class.active]="(defaultListId$ | async) === list.id" routerLink="/lists/{{list.id}}">
        <div fxFlexFill fxLayout="row" fxLayoutAlign="start center">
          <div fxFlex="1 0">{{list.name}}</div>
          <div fxFlex="0 0 30px">
            <mat-menu #listMenu="matMenu">
              <button mat-menu-item (click)="deleteList(list.id)" fxLayout="row" fxLayoutAlign="start center">
                <i class="material-icons">delete</i>
                Delete Shopping List
              </button>
              <button mat-menu-item (click)="renameList(list)" fxLayout="row" fxLayoutAlign="start center">
                <i class="material-icons">title</i>
                Rename Shopping List
              </button>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="listMenu">
              <i class="material-icons">more_horiz</i>
            </button>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>