.active {
    background-color: #FF5722;
}

.selection-container {
    height: 100%;
}

.mat-list-base .mat-list-item {
    width: auto;
}

.mat-list-item-content {
    padding: 0;
    margin: 0;
}

.list-item {
    cursor: pointer;
}

.sort-select {
    margin: 5px;
    width: 95%;
    box-sizing: border-box;
}

.shopping-lists {
    height: 100%;
}

/* sm */
@media screen and (min-width: 600px) and (max-width: 959px) {
    .list-header {
        display: none;
    }
}

/* xs */
@media screen and (max-width: 599px) {
    .list-header {
        display: none;
    }
}