version: '3'

services:
  db:
    image: postgres:11.6
    volumes:
      - $HOME/docker/volumes/postgres:/var/lib/postgresql/data
  app:
    image: docker.pkg.github.com/samsonmking/tofuapp/app:latest
    env_file:
      - ./prod.env
    environment:
      - PGHOST=db
    depends_on:
      - db
    volumes:
      - $HOME/docker/volumes/app_images:/usr/src/app/images
  nginx:
    image: docker.pkg.github.com/samsonmking/tofuapp/frontend
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - $HOME/docker/volumes/certbot/conf:/etc/letsencrypt
      - $HOME/docker/volumes/certbot/www:/var/www/certbot
      - $HOME/docker/volumes/app_images:/var/www/image/recipe
    depends_on:
      - certbot
      - app
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
  certbot:
    image: certbot/certbot
    restart: unless-stopped
    volumes:
      - $HOME/docker/volumes/certbot/conf:/etc/letsencrypt
      - $HOME/docker/volumes/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
