.reset-form {
    display: flex;
    flex-direction: column;
}

.reset-form button {
    margin-left: auto;
}

.instructions {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 15px 0px;
    font-size: 0.8rem;
}