<div *ngIf="fullRecipe$ | async; let recipe">
  <div mat-dialog-title>{{recipe.name}}</div>
  <mat-dialog-content>
    <img class="recipe-image" src={{recipe.imageUrl}}>
    <p> </p> 
    <a href="{{recipe.url}}" >Instructions</a>
    <mat-list>
      <mat-list-item *ngFor="let ingredient of (ingredients$ | async)">
        {{ingredient.quantity || ""}} {{ingredient.unit || ""}} {{ingredient.ingredient}}
      </mat-list-item>
    </mat-list>
    <button mat-flat-button color="warn" (click)="deleteRecipe()">Delete Recipe</button>
  </mat-dialog-content>
</div>