<div *ngIf="fullRecipe$ | async; let recipe">
  <div class="recipe-title detail-title" mat-dialog-title>{{recipe.name}}</div>
  <mat-dialog-content>
    <img class="recipe-image" src={{recipe.imageUrl}}>
    <div fxLayout="row" class="controls">
        <a mat-flat-button color="accent" 
        target="_blank"
        rel="noopener noreferrer"
        href="{{recipe.url}}">
          <i class="material-icons">open_in_new</i>
          Get Directions
      </a>
      <div fxFlex="1 1 auto"></div>
      <button mat-icon-button [matMenuTriggerFor]="listMenu">
          <i class="material-icons">settings</i>
        </button>
    </div>
      <mat-menu #listMenu="matMenu">
        <button mat-menu-item (click)="deleteRecipe()"><i class="material-icons">delete</i>Delete Recipe</button>
      </mat-menu>

    <div class="sans-serif-emphasis">Ingredients</div>
    <ul>
      <li *ngFor="let ingredient of (ingredients$ | async)">
        {{ingredient.quantity || ""}} {{ingredient.unit || ""}} {{ingredient.ingredient}}
      </li>
    </ul>
  </mat-dialog-content>
</div>