.list-container {
    height: 100%;
    width: 100%;
}
mat-sidenav-container{
    height: 100%;
    width: 100%;
}

.list-content-container {
    height: 100%;
    width: 100%;
}

mat-sidenav {
    max-width: 20%;
    min-width: 20%;
    flex: 0 0;
}



.sub-heading mat-select {
    background-color: white;
    border: 2px solid #A7765E;
    padding: 0.50em;
    border-radius: 5px;
    width: 60%;
    margin: 7px 10px;
    margin-left: auto;
}

/* sm */
@media screen and (min-width: 600px) and (max-width: 959px) {
    mat-sidenav {
        max-width: 40%;
        min-width: 40%;
    }
    .list-content-container {
        margin-top:36px;
        height: calc(100% - 36px);
    }
    .sub-heading {
        display: flex;
        align-items: center;
    }
}

/* xs */
@media screen and (max-width: 599px) {
    mat-sidenav {
        max-width: 75%;
        min-width: 75%;
    }
    .list-content-container {
        margin-top:36px;
        height: calc(100% - 36px);
    }
    .sub-heading {
        display: flex;
        align-items: center;
    }
}