<div class="sub-heading sub-heading-fixed">
    <button mat-button (click)="sidenav.toggle()">
        <i class="material-icons">list</i> Lists
    </button>
</div>

<div class="list-container" *ngIf="sideNavConfig$ | async as config">

    <mat-sidenav-container>
        <mat-sidenav #sidenav 
            [mode]="config.mode"
            [opened]="config.open" 
            [fixedInViewport]="true" 
            [fixedTopGap]="config.top">
            <app-list-selection></app-list-selection>
        </mat-sidenav>

        <mat-sidenav-content class="list-content-container">
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>