.list-container {
    height: 100%;
    width: 100%;
}
mat-sidenav-container{
    height: 100%;
    width: 100%;
}

.list-content-container {
    height: 100%;
    width: 100%;
}

mat-sidenav {
    max-width: 20%;
    min-width: 20%;
    flex: 0 0;
}

/* md */
@media screen and (min-width: 960px) and (max-width: 1279px) {

}

/* sm */
@media screen and (min-width: 600px) and (max-width: 959px) {
    mat-sidenav {
        max-width: 40%;
        min-width: 40%;
    }
    .list-content-container {
        margin-top:36px;
        height: calc(100% - 36px);
    }
}

/* xs */
@media screen and (max-width: 599px) {
    mat-sidenav {
        max-width: 75%;
        min-width: 75%;
    }
    .list-content-container {
        margin-top:36px;
        height: calc(100% - 36px);
    }
}