.login-container {
    background-image: url('/assets/img/background.jpg');
    background-size: cover;
}

.mat-card {
    width: 30%
}

/* lt-md */
@media screen and (max-width: 959px) {
    .mat-card {
        width: 50%
    }
}

/* lt-sm */
@media screen and (max-width: 599px) {
    .mat-card {
        width: 80%
    }
}