<mat-sidenav-container>
    <mat-sidenav-content>
        <div class="float">
            <button mat-fab (click)="addNewRecipe()"><i class="material-icons">add</i></button>
          </div>
          <div fxLayout="row column" fxLayoutGap="10px">
            <div *ngFor="let recipe of recipes$ | async">
              <app-recipe-thumb [recipe]="recipe"></app-recipe-thumb>
            </div>
          </div>
    </mat-sidenav-content>
    <mat-sidenav mode="side" opened style="width: 300px">
        <app-default-shopping-list></app-default-shopping-list>
    </mat-sidenav>
</mat-sidenav-container>
<router-outlet></router-outlet>