<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="start center">
    <img src="assets/img/tofu.png" style="width: 48px; height: 48px;">
    <span class="title">TOFU</span>
    <ul class="nav" fxFlex="1 1 auto">
      <li><a routerLink="recipes" routerLinkActive="active" #rla="routerLinkActive">Recipe Collection</a></li>
      <li><a routerLink="lists" routerLinkActive="active" #rla="routerLinkActive">Shopping Lists</a></li>
    </ul>
    <span *ngIf="$user | async as user">{{user.id}}</span>
</mat-toolbar>
<router-outlet></router-outlet>
