.recipe-thumb {
    margin: 10px 10px 0px 0px;
    height: 315px;
}

.recipe-thumb img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

mat-card-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    font-size:1.3em;
}

.recipe-actions{
    margin-top: 5px;
}

.thumb-img {
    background-color: lightgray;
}

.recipe-title {
    font-size: 16px;
}

/* lt-md */
@media screen and (max-width: 959px) {
    .recipe-title {
        font-size: 1.25rem;
    }
}

app-recipe-thumb {
    flex: "1 1 25%";
}