<div class="sub-heading sub-heading-fixed">
  <button mat-button (click)="toggle()">
    <i class="material-icons">restaurant_menu</i> {{currentListName$ | async}}
  </button>
  <button class="search-button" mat-button (click)="searchToggle = !searchToggle">
    <i class="material-icons">search</i>
  </button>
</div>
<div *ngIf="sideNavConfig$ | async as config" class="recipe-container app-container">

  <mat-sidenav-container>

    <mat-sidenav #sidenav
      class="default-list"
      [mode]="config.mode" 
      [opened]="config.open" 
      [fixedInViewport]="true"
      [fixedTopGap]="config.top">
        <app-default-shopping-list></app-default-shopping-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div *ngIf="searchToggle || config.searchShownByDefault" class="search-header">
          <i *ngIf="config.searchShownByDefault" class="material-icons">search</i>
          <input class="search-box" type="text" placeholder="Search" (keyup)="filterText$.next($event.target.value)" autocomplete="off">
      </div>
          

      <div class="float"> 
        <button mat-fab (click)="addNewRecipe()"><i class="material-icons">add</i></button>
      </div>

      <cdk-virtual-scroll-viewport class="scroll-container" 
        itemSize="325" 
        minBufferPx="650"
        maxBufferPx="1300">
        <div class="recipe-thumb-container" *cdkVirtualFor="let recipeChunk of recipes$; trackBy: hashRecipeIds; templateCacheSize:0;">
          <app-recipe-thumb *ngIf="recipeChunk[0] as recipe" [recipe]="recipe"></app-recipe-thumb>
          <app-recipe-thumb *ngIf="recipeChunk[1] as recipe" [recipe]="recipe"></app-recipe-thumb>
          <app-recipe-thumb *ngIf="recipeChunk[2] as recipe" [recipe]="recipe"></app-recipe-thumb>
          <app-recipe-thumb *ngIf="recipeChunk[3] as recipe" [recipe]="recipe"></app-recipe-thumb>
        </div>
        <div class="filler"></div>
      </cdk-virtual-scroll-viewport>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<router-outlet></router-outlet>