.recipe-container {
    height: 100%;
    width: 100%;
}

mat-sidenav-container {
    height: 100%;
    width: 100%;
}

mat-sidenav-content {
    display: flex;
    flex-direction: column;
}

.recipe-thumb-container {
    margin: 0 0 0 10px;
    padding: 0;
}

.recipe-thumb-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

app-recipe-thumb {
    flex: 1 1 100%;
    max-width: 25%;
}

mat-sidenav {
    max-width: 20%;
    min-width: 20%;
}

.scroll-container {
    width: 100%;
    flex: 1 1 100%;
}

/* 56px (button height) + 3rem (1.5 rem from bottom * 2) - 10px (recipe-thumb bottom margin) */
.filler {
    height: calc((56px + 3rem) - 10px);
    width: 100%;
}

.search-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 auto;
    background-color: #A7765E;
}

.search-header i {
    position: absolute;
    right: 15px;
    color: gray;
}

.search-box {
    border: 2px solid #A7765E;
    height: 25px;
    border-radius: 5px;
    width: 33%;
    margin: 7px 10px;
}

.search-button {
    margin-left: auto;
}

.sub-heading-spacer {
    margin-top: 10px;
}


/* md */
@media screen and (min-width: 960px) and (max-width: 1279px) {
    app-recipe-thumb {
        max-width: 33.33%;
    }
}

/* sm */
@media screen and (min-width: 600px) and (max-width: 959px) {
    app-recipe-thumb {
        max-width: 50%;
    }
    mat-sidenav {
        max-width: 40%;
        min-width: 40%;
    }
    .recipe-container {
        margin-top:36px;
        height: calc(100% - 36px);
    }
    .search-box {
        width: 100%;
    }
}

/* xs */
@media screen and (max-width: 599px) {
    app-recipe-thumb {
        max-width: 100%;
    }
    mat-sidenav {
        max-width: 75%;
        min-width: 75%;
    }
    .recipe-container {
        margin-top:36px;
        height: calc(100% - 36px);
    }
    .search-box {
        width: 100%;
    }
}

.float {
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    z-index: 9;
}
