<form [formGroup]="newRecipeForm" (ngSubmit)="onRecipeSubmit()" #entryFrom="ngForm">
  <mat-card-content>
    <mat-form-field>
      <input matInput type="text" formControlName="name" placeholder="Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="url" placeholder="Recipe URL">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="imageUrl" placeholder="Image URL">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput formControlName="ingredients" placeholder="Ingredients" class="ingredient-list"></textarea>
    </mat-form-field>
    <div *ngIf="errors$ | async as errors" class="form-error sans-serif-emphasis">
        <ul *ngFor="let error of errors">
          <li fxLayout="row" fxLayoutAlign="start center">
            <i class="material-icons error-icon">error</i>{{error}}
          </li>
        </ul>
      </div>
  </mat-card-content>
  <button mat-stroked-button type="submit" [disabled]="!newRecipeForm.valid">Submit</button>
</form>