<div fxFlexFill fxLayout="column" fxLayoutAlign="stretch">
  <div class="list-header sub-heading sans-serif-emphasis" fxLayout="row" fxLayoutAlign="start center" fxHide.lt-md="true">
    <i class="material-icons">restaurant_menu</i>
    {{currentListName$ | async}}
  </div>
  
  <mat-list fxFlex="1 1" fxLayout="column" fxLayoutAlign="stretch">
    <mat-list-item  class="list-item" *ngFor="let recipe of recipesInList$ | async">
      <div fxFlexFill fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="1 0" class="recipe-title">{{recipe.name}}</div>
        <div fxFlex="0 0 30px">
          <button mat-icon-button (click)="removeFromList(recipe.id)">
            <i class="material-icons">remove_circle</i>
          </button>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
  <button mat-flat-button color="accent" (click)="createNewList()" class="add-list-button">Create new list <i class="material-icons">add_circle</i></button>

</div>