.list-detail-container {
    position: fixed;
    contain: content;
    overflow-y: scroll;
    width: 80%;
    height: calc(100% - 64px - 44px);
    box-sizing: border-box;
}

.shopping-list-item {
    display: flex;
    flex-flow: row wrap;
}

.shopping-list-item .list-component {
    font-size: 0.8rem;
}

.list-name {
    flex: 1 1 35%;
    font-weight: bold;
}

.list-quantity {
    flex: 1 1 25%;
}

.list-recipe {
    flex: 1 1 40%;
    color: gray;
}

.list-sort-header {
    height: 44px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 auto;
    background-color: #A7765E;
}

.list-sort-header mat-select {
    background-color: white;
    border: 2px solid #A7765E;
    padding: 0.20em;
    border-radius: 5px;
    width: 25%;
    margin: 7px 10px;
}

/* md */
@media screen and (min-width: 960px) and (max-width: 1279px) {

}

/* sm */
@media screen and (min-width: 600px) and (max-width: 959px) {
    .shopping-list-item .list-component {
        font-size: 0.9rem;
    }
    .list-detail-container {
        width: 100%;
        height: calc(100% - 100px);
    }
    .list-sort-header {
        display: none;
    }
}

/* xs */
@media screen and (max-width: 599px) {
    .shopping-list-item .list-component {
        font-size: 1rem;
    }
    .list-detail-container {
        width: 100%;
        height: calc(100% - 100px);
    }
    .list-name {
        flex: 1 1 70%;
    }  
    .list-quantity {
        flex: 1 1 30%;
    }  
    .list-recipe {
        flex: 1 1 100%;
    }
    .list-sort-header {
        display: none;
    }
}