table {
    padding: 10px;
    width: 100%;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 3px 3px 3px 0;
  font-size: 0.8rem;
}

.mat-column-ingredient {
    width: 30%;
}

.mat-column-quantity {
    width: 10%;
}

.mat-column-unit {
    width: 15%;
}

.mat-column-recipe {
    width: 45%;
}

.mat-checkbox {
    margin-right: 10px;
}

/* xs */
@media screen and (max-width: 599px) {
    .mat-column-ingredient {
        width: 20%;
    }
    
    .mat-column-quantity {
        width: 10%;
    }
    
    .mat-column-unit {
        width: 10%;
    }
    
    .mat-column-recipe {
        width: 60%;
    }
    
    .mat-checkbox {
        margin-right: 10px;
    }
}