html, body {
    margin: 0;
    height: 100%;
}

.sub-heading {
    background-color: #A7765E;
}

.list-header {
    padding: 10px 5px 10px 5px;
}

.list-item {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0 5px 5px 5px;
}

.scroll-container .cdk-virtual-scroll-content-wrapper {
    position: relative;
}

.sans-serif-emphasis {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: bold;
}

.error-title .mat-list-item div.mat-list-item-content {
    padding: 0px 0px;
}

.recipe-title {
    text-transform: capitalize;
}

.error-icon{
    color: red;
    margin-right: 5px;
    font-size: 1.5em;
}

.form-error {
    color: red;
    font-weight: bold;
    font-size: 0.8em;
}

.form-error ul {
    list-style-type: none;
    padding-inline-start: 10px;
}

html {
    font-size: 18px;
}

/* sm */
@media screen and (min-width: 600px) and (max-width: 959px) {
    html {
        font-size: 14px;
    }
}

/* xs */
@media screen and (max-width: 599px) {
    html {
        font-size: 12px;
    }
}

.sub-panel {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #fafafa;
    padding: 5px;
    margin-bottom: 2px;
}