<mat-toolbar *ngIf="(user$ | async) as userState" color="primary" fxLayout="row" fxLayoutAlign="start center" class="mat-elevation-z6">
  <img src="assets/img/tofu.png" style="height: 70%;">
  <span class="title">TOFU</span>
  <ul *ngIf="userState.loggedIn" class="nav" fxFlex="1 1 auto">
    <li><a routerLink="recipes" routerLinkActive="active" #rla="routerLinkActive">Recipes</a></li>
    <li>
      <a [routerLink]="selectedList$ | async" [class.active]="listSelected$ | async">Shopping Lists</a>
    </li>
  </ul>

  <button class="user-button" mat-icon-button [matMenuTriggerFor]="userMenu" *ngIf="userState.user as user">
    <mat-menu #userMenu="matMenu">
      <div class="sans-serif-emphasis user-name">{{user.id}}</div>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
    <i class="material-icons">person</i>
  </button>
</mat-toolbar>