<mat-toolbar *ngIf="(user$ | async) as userState" color="primary" fxLayout="row" fxLayoutAlign="start center">
  <img src="assets/img/tofu.png" style="height: 70%;">
  <span class="title">TOFU</span>
  <ul *ngIf="userState.loggedIn" class="nav" fxFlex="1 1 auto">
    <li><a routerLink="recipes" routerLinkActive="active" #rla="routerLinkActive">Recipes</a></li>
    <li>
      <a [routerLink]="selectedList$ | async" [class.active]="listSelected$ | async">Shopping Lists</a>
    </li>
  </ul>
  <mat-menu #userMenu="matMenu">
      {{userState.user.id}}
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
  <button class="user-button" mat-icon-button [matMenuTriggerFor]="userMenu" *ngIf="userState.user as user">
    <i class="material-icons">person</i>
  </button>
</mat-toolbar>