.recipes-splash {
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

h1 {
    margin-right: auto;
}

mat-tab-group {
    flex: 0 0 30%;
    margin-left: auto;
    margin-right: 40px;
    background-color: white;
    height: 325px;
    border-radius: 5px;
}

.description {
    font-size: 1.2rem;
    color: #fafafa;
    padding: 40px 0px 40px 40px;
    background-image: url('/assets/img/background-1080.jpg');
}

.row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.row-container img {
    border-radius: 10px;
    height: 450px;
}

.column-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.number {
    vertical-align: middle;
    text-align: center;
    background-color: tomato;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    display: inline-block;
    margin-right: 10px;
    color: white;
}

.features {
    flex: 1 1 100%;
    background-color: #ffe6a7;
    background-size: cover;
    padding-bottom: 20px;
}

.footer {
    text-align: center;
    font-weight: normal;
    background-color: #A7765E;
    color: #fafafa;
    font-size: 0.9rem;
    padding: 5px 0px;
    width: 100%;
}

.footer a {
    color:lightgray;
}

/* lt-md */
@media screen and (max-width: 959px) {

    mat-tab-group {
        height: 325px;
        width: 100%;
        flex: 1 1;
    }

    .description {
        padding: 10px;
        box-sizing: border-box;
    }
    .row-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .recipes-splash {
        align-items: center;
    }
}